body {
    padding: 1em;
    margin: 1em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body::before {
    content:""; /* required for ::before */
    position:fixed; /* don't scroll with page */
    z-index:-100; /* place behind elements on page */
    width:100%;
    height:100%;
    background-color:plum;
    background-image: 
    radial-gradient(circle farthest-side at top right, transparent, #0D64FF), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
    animation:bg-change 10s infinite;
}

@keyframes bg-change {
0%, 100% {
    filter:hue-rotate(0deg);
}
50% {
    filter:hue-rotate(-360deg);
}
}

h1 {
    color: purple
}

input {
    margin-bottom: 0.5em
}

button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    background-color: rgb(221, 189, 221);
    color: purple
}

a:link {
    color: darkorchid
}

.emojilink {
    text-decoration: none;
}

#error {
    font-weight: bold;
    font-size: larger;
    color: mediumaquamarine
}

td {
    padding-bottom: 0.5em;
}

#punchline {
    color: rgb(82, 0, 82);
    padding-left: 2em;
}

#othercolA, #othercolB {
    text-align: center;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: purple;
    text-align: left;
    padding: 1px 20px;
    text-decoration: none;
    font-size: large;
    text-decoration: underline;
}