extends layout

block content
    h1 Jokes
    form(action="/jokes", method="post")
        label Setup:
        input(type="text", name="setup")
        br
        label Punchline:
        input(type="text", name="punchline")
        br
        button(type="submit") Submit joke
    br
    table
        each joke in jokes
            tr
                td #{joke.setup}
                td #{joke.punchline}