html    
    style
        include ../styles/css/app.css
    head  
        .topnav
            a(href='/Jokes') home 
            a(href='/othersites') othersites        
        title Jokes fra Tais' Biler
    body
        block content