html    
    style
        include ../styles/css/app.css
    head  
        .topnav
            a(href='/jokes') Jokes 
            a(href='/othersites') Other sites        
        title Jokes fra Tais' Biler
    body
        include errorMessage
        block content